name: Deploy to Neocities

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

       - name: Install dependencies
         run: pip install -r requirements.txt

      - name: Generate HTML
        run: |
          python validate.py
          python validate_counties.py
          python per_system_pages.py

      - name: Prepare site directory
        run: |
          mkdir -p site
          cp -r outputs/* site/

      - name: Deploy to Neocities
        uses: bcomnes/deploy-to-neocities@v3
        with:
          api_key: ${{ secrets.NEOCITIES_API_TOKEN }}
          dist_dir: site
