name: Deploy to Neocities

on:
  push:
    branches:
      - main  # or whichever branch you use

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |

       - name: Generate HTML
        run: |
        python validate.py
        python validate_counties.py
        python per_system_pages.py

      - name: Deploy to Neocities
        uses: bcomnes/deploy-to-neocities@v3
        with:
          api_key: $4057a04b7c8ea2f3f73d22f757bdd3ca
          dist_dir: site
          cleanup: true
          preview_before_deploy: false
